@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #0284c7;
  --color-dark: #000000;
}

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Outfit", sans-serif;
}

body {
  background: #000000;
}

.footer-heading {
  font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
